body{
  background-image:url(../public/forex\ exchange.webp);
  backdrop-filter: blur(1.5px);
  color: white;
  padding: 50px;
  opacity: 1;
 
}

h1{
  color: white;
  
  
  text-align: center;
  font-size: 50px;
}
.group{
  background: #335;
  width: 180px;
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: 100px 80px ;
  border-radius: 15px;
}
input,select{
  background: none;
  border: 0;
  color: rgb(255, 218, 5);
}
input{
  padding-left: 10px;

}
select{
  padding: 15px;
}
.heading{
  background-color: gray;
  padding: 5px 10px;
  border-radius: 10px;
}
.compare-text{
  /* background-color: red; */
  font-size: 40px;
}
.compare-main{
  display: flex;
  justify-content: center;
  
}
.compare-second{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #335;
  width: 600px;
  border-radius: 15px;
}